
//HEADER

.main-view-container {
    display: flex;
    justify-content: space-between;
    >img{
        width: 70rem;
        background-position: center;
        background-size: cover;        
    }
}
.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.section_top {
    display: flex;
    flex-direction: column;
    margin-right: 12.2rem;
    height: 25vh;
    //margin-bottom: 18rem;
}
.login_out {
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    a{
        cursor: pointer;
        font-size: 1.3rem;
        text-decoration: none;
        color: $light-grey;
        padding: 0.9rem 1rem;
    }
    .second_navlink {
        margin-left: 1.5rem ;
        border: 0.8px solid $sweety-yellow;
    }
} 
.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
        cursor: pointer;
        font-size: 1.7rem;
        text-decoration: none;
        color: $dark-brown;
        padding: 0.9rem 2rem;
    }
}
.header-main-info {
    //height: 28rem;
    height: 65vh;
    display: flex;
    align-items: center;
    width: 66rem;
    margin-right: 12.2rem;
    
    .title {
        height: 4rem;
        font-size: 3.4rem;
        color: $dark-brown;
        letter-spacing: -0.76px;
        text-align: center;
        opacity: 1;
    }
    .decoration {
        margin-top: 6rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
    }
    
}
.btn {
    display: flex;
    justify-content: space-evenly;
}
.btn button {
    width: 25rem;
    height: 10rem;
    font-size: 3rem;
    color: $dark-brown;
    font-family: $font-base;
    text-align: center;
    font-weight: 300;
    border: 0.8px solid $dark-brown;
    background-color: transparent;
    cursor: pointer;
}
//----------------------------------------------- 

//TREE COLUMNS
.tree-columns-container {
    height: 30rem;
    background-image: url(../../assets/3_columns_background.png);
    .informations {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        .info {
            margin-bottom: 2rem;
            max-width: 30rem;
            text-align: center;
            h1 {
                font-size: 8rem;
                font-weight: 300;
                color: $dark-green;
            }
            h2 {
                color:$dark-brown;
                font-size: 1.7rem;
                font-weight: 400;
                margin-bottom: 1rem;
            }
            p {
                color:$dark-brown;
                font-weight:300 ;
                font-family: $font-alt;
                font-size: 1.2rem;
                line-height: 2rem;
                
            }
        }
    }
}
//-----------------------------------


//SIMPLE STEPS

.main-title {
    font-size: 3.4rem;
    letter-spacing: -0.76px;
    margin-bottom: 1rem;
    font-weight: normal;
}
.simple-steps-container {
    height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $dark-brown;
    .simple-steps-title {
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .steps-grey-container {
        height: 30rem;
        width: 100%;
        background-color: $light-white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .step {
            text-align: center;
            max-width: 13rem;
            h2 {
                font-size: 1.7rem;
                font-weight: 400;
                margin-bottom: 1rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
    .btn-steps {
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
}
//----------------------------------------------


//ABOUT 

.about-container {
    height: 50rem;
    display: flex;
    flex-direction: row;
    .about-us {
        color: $dark-brown;
        text-align: center;
        height: 100%;
        width: 50vw;
        background-color: $light-white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
            font-size: 2.4rem;
            max-width: 55rem;
        }
        img {
            margin-bottom: 1.2rem;
        }
        >div {
            width: 70%;
            height: 12rem;
            margin-top: 1rem;
            display: flex;
            justify-content: flex-end;
        }   
    }
    .people-img {
        height: 100%;
        width: 50vw;
        background-image: url(../../assets/people.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

//---------------------------------------------

//WHO WE HELP

.who-we-help-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    .who-we-help {
        height: 21rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .type-of-help {
        display: flex;
        justify-content: space-evenly;
        width: 80rem;
        height: 12rem;
        >div{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.9rem;
            width: 17rem;
            height: 60%;
            text-align: center;
            cursor: pointer;
        }

    }
}
.types {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    .types-main-info {
        font-size: 1.7rem;
        height: 10rem;
        max-width: 50rem;
        text-align: center;
    }
}
.types-inf {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.one-of-type {
    border-bottom: 1px solid $dark-brown;
    height: 8rem;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h1 {
        font-family: $font-alt;
        font-weight: 300;
    }
    .purpose {
        display: flex;
        justify-content: space-between;
        font-style: italic;
        font-size: 1.2rem;
    }   
}
.page {
    display: flex;
    margin-bottom: 2rem;
    p {
        margin-top: 2rem;
        font-size: 1.7rem;
        padding:1rem;
        cursor: pointer;
    }
}
.page .active {
    border: 1px solid #3C3C3C;
}

//------------------------------------

// CONTACT
.contact-container {
    height: 75rem;
    width: 100%;
    position: relative;
    background-image: url(../../assets/background-contact.jpg);
    background-size: cover;  
    .overlay {
        position:absolute;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.5);
    }  
    .contact {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width:45%;
        height: 93%;
        .formularz {
            margin-top: 3rem;
            width: 65%;
        }
    }
}
.form-element  {
    display: flex;
    flex-direction: column;
    label {
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 0.7rem;
    }
    input {
        border: none;
        border-bottom: 1.2px solid $light-grey;
        background: transparent;
        width: 20.5rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0.3rem;
        &::placeholder {
            color: $form-color;
            font-family: $font-base;
        }
    }
    textarea {
        resize: none;
        height: 10rem;
        border: none;
        border-bottom: 1.2px solid $light-grey;
        background: transparent;
        margin-bottom: 0.5rem;
        &::placeholder {
            color: $form-color;
            font-family: $font-base;
        }
    }
}
.name-email-container {
    display: flex;
    justify-content: space-between;
}
.form-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
        color: $dark-brown;
        font-size: 1.5rem;
        font-family: $font-base;
        text-align: center;
        font-weight: 300;
        border: 0.8px solid $dark-brown;
        background-color: transparent;
        padding: 0.7rem 2.7rem;
        cursor: pointer;
    }
}
//CONTACT FOOTER
footer {
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .contact-footer{
        height: 100%;
        width: 55%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p {
            font-size: 1.3rem;
        }
    }
}
.footer-icons {
    margin-right: 12rem;
}